<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Windows"></authentication>

        <authorization>
            <deny users="?" />
        </authorization>
        
        <!--<authentication mode="Forms">
            <forms
                loginUrl="Login.aspx"
                defaultUrl="Index.aspx"
                name="adAuthCookie"
                timeout="10"
                path="/">
            </forms>
        </authentication>
        
        <authorization>
            <deny users="?" />
            <allow users="*" />
        </authorization>-->
        
        <identity impersonate="false" />
    </system.web>
</configuration>
